.profile {
    display: block;
    width: 600px;
    margin: 0 auto;
    padding-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 24px -4px rgba(0,0,0,0.75);
}
.description{
 text-align: center;
 margin-bottom: 30px;
}
.thumb {
    display: inline-block;
    margin: 0 auto;
    border: none;
    border-radius: 50%;
    width: 100px;
    height: 100px;  
    overflow: hidden;
    margin-bottom: 30px;
}
.profile-avatar {
display: block;
width: 100%;
}
.stats{
    display: flex;    
    text-align: center;  
    justify-content:space-between; 
    align-items: center;
    background-color: rgb(211, 211, 211);
    border:  1px solid rgba(211, 211, 211, 0.712);
}
.stats-item {
    display: block;
    width: calc(100%/3);
    height: 100%;
    padding: 10px;
    align-items: center;
    border: 1px solid grey;
    padding-top: 10px;
    padding-bottom: 10px;
}

.label,
.quantity {
    display: block;
}

.label{
    margin-bottom: 10px;
}